<!-- name, eleid, type, help -->
<div class="form-group">
  <label class="sr-only" for="{{{eleid}}}">{{{name}}}</label>
  <input type="{{{type}}}" class="form-control" id="{{{eleid}}}" placeholder="{{{name}}}">
  <small id="{{{eleid}}}-help" class="form-text text-muted">{{{help}}}</small>
</div>
